/* Global css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './nprocess.css';

* {
  outline: 0 !important;
}

button[disabled] {
  cursor: not-allowed !important;
  opacity: 0.8;
}

@media (min-width: 992px) {
  .left-sidemenu {
    min-height: calc(100vh - 120px) !important;
  }
}

* {
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 641px) {
  .ReactModal__Content {
    min-width: 90% !important;
  }
}

.ReactModal__Content {
  background: white;
  width: 50rem;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  position: relative;
}

.ReactModal__Overlay {
  z-index: 998;
}

div.disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.react-time-picker__wrapper {
  border: 0 !important;
}

#chart-rank {
  z-index: -1;
  margin: -10px -30px -10px -30px;
}

#chart-rank .js-plotly-plot {
  z-index: 999;
}

g.numbers {
  display: none !important;
}

.main-svg {
  width: 100% !important;
}

.svg-container {
  width: 100% !important;
  z-index: -1 !important;
}

.js-plotly-plot .plotly .main-svg {
  left: -7% !important;
}

.js-plotly-plot {
  width: 650px !important;
}

@media (max-width: 576px) {
  .js-plotly-plot {
    width: 563px !important;
  }
}

.modebar {
  display: none !important;
}

.react-responsive-modal-modal {
  border-radius: 15px;
  max-width: 750px;
}

.react-responsive-modal-modal.modal-3xl {
  min-width: 1500px;
}

.react-responsive-modal-modal.modal-2xl {
  min-width: 900px;
}

.react-responsive-modal-modal.modal-3xl .modal-3xl-overflow {
  overflow-x: hidden;
}

@media (max-width: 991px) {
  .react-responsive-modal-modal.modal-2xl {
    min-width: 98% !important;
    width: 98% !important;
    margin: auto;
  }
}

@media (max-width: 1500px) {
  .react-responsive-modal-modal.modal-3xl {
    min-width: 98% !important;
    width: 98% !important;
    margin: auto;
  }

  .react-responsive-modal-modal.modal-3xl .modal-3xl-overflow {
    overflow-x: scroll;
  }
}

@media (min-width: 651px) {
  .react-responsive-modal-modal {
    min-width: 650px;
  }
}

@media (max-width: 991px) {
  .react-responsive-modal-modal {
    min-width: 90% !important;
    width: 90% !important;
  }

  .card-body {
    padding: 10px 10px 14px 10px;
  }
}

.react-responsive-modal-closeButton {
  top: 18px !important;
}

.sidemenu-container-reversed .react-responsive-modal-modal .react-responsive-modal-closeButton {
  left: 14px !important;
  right: unset !important;
}

.rc-slider-handle {
  right: 0 !important;
}

.rc-slider-track {
  background-color: #007bff !important;
  margin-top: -1px;
  border-radius: 10px;
  border: 1px solid rgba(87, 85, 85, 0.29);
}

.rc-slider-vertical {
  padding: 0;
}

.rc-slider-vertical .rc-slider-dot {
  display: none;
}

.rc-slider-vertical .rc-slider-handle {
  width: 20px !important;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  box-shadow: 0 1px 3px rgb(0 0 0 / 40%), 0 -1px 3px rgb(0 0 0 / 40%);
  height: 20px !important;
  margin-left: -10px !important;
  margin-top: -16px !important;
  z-index: 9999999999;
  transform: translate(2px, 50%) !important;
}

.rc-slider-vertical .rc-slider-handle:after {
  content: ' ';
  position: absolute;
  width: 6px;
  height: 6px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background-color: #dadada;
  box-shadow: 0 1px 3px rgb(0 0 0 / 40%) inset, 0 -1px 3px rgb(0 0 0 / 40%) inset;
}

.rc-slider-vertical .rc-slider-rail {
  width: 12px !important;
}

.rc-slider-vertical .rc-slider-track {
  width: 12px;
  left: 0 !important;
  margin: 1px;
}

.rc-time-picker-input {
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
  border: 0 !important;
  font-size: 14px;
  color: #555;
}

.rc-time-picker-clear {
  top: 9px !important;
}

.rc-time-picker-panel-inner {
  width: 100% !important;
  max-width: 100% !important;
}

.rc-time-picker-panel-select {
  width: 50% !important;
}

.rc-time-picker-panel-narrow {
  max-width: 150px !important;
}

.input-range {
  height: 12px;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 40%);
}

.input-range__track--active {
  background-color: #007bff !important;
  margin-top: -1px;
  border-radius: 10px;
  border: 1px solid rgba(87, 85, 85, 0.29);
}

.input-range__track--background {
  margin-top: -5.5px !important;
  border-radius: 10px !important;
}

.input-range__track {
  height: 12px !important;
}

.input-range__slider {
  width: 20px !important;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  box-shadow: 0 1px 3px rgb(0 0 0 / 40%), 0 -1px 3px rgb(0 0 0 / 40%);
  height: 20px !important;
  margin-left: -10px !important;
  margin-top: -16px !important;
}

.input-range__slider:after {
  content: ' ';
  position: absolute;
  width: 6px;
  height: 6px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background-color: #dadada;
  box-shadow: 0 1px 3px rgb(0 0 0 / 40%) inset, 0 -1px 3px rgb(0 0 0 / 40%) inset;
}

.input-range__slider:active,
.input-range__slider:hover {
  background: #fff !important;
  border: 1px solid #ccc !important;
}

.input-range__label.input-range__label--bottom-max {
  display: none;
}

.input-range__label-container {
  left: -23px !important;
  top: -16px !important;
}

.input-range__track {
  background-color: #e6e6e6;
}

.source-select {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
}

@media (max-width: 576px) {
  .sub-nav a {
    font-size: 13px;
  }

  .page-header.navbar .top-menu {
    display: flex !important;
  }

  .page-header.navbar .top-menu .navbar-nav > li.dropdown,
  .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
    padding: 0 !important;
  }

  .page-header.navbar .menu-toggler.responsive-toggler {
    margin-top: 12px !important;
  }

  .page-header.navbar .page-logo {
    height: 50px !important;
  }
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
  padding-top: 0 !important;
}

.Toastify__toast-container--rtl {
  text-align: right !important;
}

.Toastify__toast-body {
  display: flex !important;
}

@media (min-width: 1200px) {
  .visit-details-width {
    width: 820px;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .Toastify__toast-container--top-right {
    right: 0 !important;
  }

  .Toastify__toast {
    width: 95% !important;
    margin: 5px auto;
  }
}

.accordion__panel {
  padding: 10px 0
}

.accordion__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row-reverse;
  background-color: #b4d5e8;
  padding: 0.375rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.react-responsive-modal-modal .accordion__button {
  margin: 0;
  background-color: transparent;
  border-bottom: 1px solid lightslategray;
}

.react-responsive-modal-modal .accordion__button:hover {
  background-color: #DAE3F3;
}

.accordion__button:hover {
  background-color: #99c4dc;
}

.accordion {
  border: 0;
  border-radius: 0;
}

.accordion__item + .accordion__item {
  border: 0 !important;
}

.collapsed {
  display: none;
}

.h-fit {
  height: fit-content !important;
}

body[dir=rtl] .accordion__button[aria-expanded='false']::before {
  -webkit-transform: rotate(133deg);
  transform: rotate(133deg);
}

.input-form-control:focus {
  border: 1px solid #dee2e6 !important;
}
